<p id="notice"><%= notice %></p>

<p>
  <strong>Employeenumber 94:</strong>
  <%= @employee.employeeNumber_94 %>
</p>

<p>
  <strong>Lastname 94:</strong>
  <%= @employee.lastName_94 %>
</p>

<p>
  <strong>Firstname 94:</strong>
  <%= @employee.firstName_94 %>
</p>

<p>
  <strong>Position 94:</strong>
  <%= @employee.position_94 %>
</p>

<p>
  <strong>Departmentnumber 94:</strong>
  <%= @employee.departmentNumber_94 %>
</p>

<p>
  <strong>Startdate 94:</strong>
  <%= @employee.startDate_94 %>
</p>

<p>
  <strong>Salary 94:</strong>
  <%= @employee.salary_94 %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
