<p id="notice"><%= notice %></p>

<p>
  <strong>Departmentnumber 94:</strong>
  <%= @department.departmentNumber_94 %>
</p>

<p>
  <strong>Departmentname 94:</strong>
  <%= @department.departmentName_94 %>
</p>

<p>
  <strong>Phonenumber 94:</strong>
  <%= @department.phoneNumber_94 %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
